<!DOCTYPE html>
<html>
<head>
  <title>XTask</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/cover.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
    <div class="masthead clearfix schedule-top">
      <div class="nav-wrapper">      
          <a class="navbar-brand" href="/"><h2>XTask</h2></a>
         <div id="navbar" class="navbar-collapse collapse">
          <form action="/signout" method="get" class="navbar-form navbar-right" role="form">
              <a href="/dashboard" class="account">Welcome, <%= username %></a>
              <button type="submit" class="btn btn-success">Sign Out</button>
          </form>
        </div> 
      </div>       
    </div>

  <div class="task-wrapper">
  <div class="site-wrapper">
  <div class="site-wrapper-inner">
  <div class="task-constrictor">
  
    <div class="container emp_space-5 space_top-3 container-form">
      <h2 class="emp_space-3"><%= @schedule.name %></h2>

      <form action="/schedules/<%= @schedule.id %>/tasks" method="post">
        <h4 class="task-title">Add Task</h4>
        <div class="col-md-6">
          <input id="taskName" type="text" name="taskName" class="form-control" placeholder="Name">
        </div>
        <div class="col-md-6 form-group">
          <input id="taskDesc" type="text" name="taskDesc" class="form-control" placeholder="Description">
        </div>

        <div class="col-md-12 emp_space-1">
        </div>

        <div class="col-md-4">
          <label for="taskType">Select Type:</label> 
          <select name="taskType" id="taskType" class="form-control">
            <option value="School">School</option>
            <option value="Work">Work</option>
            <option value="Personal">Personal</option>
            <option value="Social">Social</option>
            <option value="Housekeeping">Housekeeping</option>
            <option value="Other" selected="selected">Other</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="taskStart">Start Time:</label>
          <input id="taskStart" type="time" name="taskStart" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="taskEnd">End Time:</label>
          <input id="taskEnd" type="time" name="taskEnd" class="form-control">
        </div>

        <div class="col-md-12 day_check">
          <label>Day(s)</label>
          <input type="hidden" name="monday" value=false>
          <input type="checkbox" name="monday" value=true>Monday 
          <input type="hidden" name="tuesday" value=false>
          <input type="checkbox" name="tuesday" value=true>Tuesday 
          <input type="hidden" name="wednesday" value=false> 
          <input type="checkbox" name="wednesday" value=true>Wednesday 
          <input type="hidden" name="thursday" value=false>
          <input type="checkbox" name="thursday" value=true>Thursday 
          <input type="hidden" name="friday" value=false>
          <input type="checkbox" name="friday" value=true>Friday 
          <input type="hidden" name="saturday" value=false>
          <input type="checkbox" name="saturday" value=true>Saturday 
          <input type="hidden" name="sunday" value=false>
          <input type="checkbox" name="sunday" value=true>Sunday 
        </div>
        <div>
          <input type="hidden" name="scheduleId" value="<%= @schedule.id %>">
        </div>
          
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <input type="submit" class="form-control btn-primary">
        </div>
        <div class="col-md-5">
        </div>
      </form>
     </div>  
        <div class="col-md-12 emp_space-5">
        </div>

    <div class="container-content">
      <div class="container">
        <div class="col-md-3">
          <span class="task-title"><h3>Monday</h3>
          <ul>
            <% @monday.each do |x| %>
              <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
              <span class="bold"><%= x.name %></span></strong><br>
              <%= x.start_time %> - <%= x.end_time %><br>
              <%= x.description %><br>
              <%= x.type %><br>          
              </li></a>
            <% end %>
          </ul>
        </div>

        <div>
          <div class="col-md-3">
            <h3>Tuesday</h3>
            <ul>
              <% @tuesday.each do |x| %>  
                <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
                  <span class="bold"><%= x.name %></span><br />
                  <%= x.start_time %> - <%= x.end_time %><br />
                  <%= x.description %><br />
                  <%= x.type %><br />
                  <br />
                  
                </li></a>
              <% end %>
            </ul>
          </div>

          <div class="col-md-3">
            <h3>Wednesday</h3>
            <ul>
              <% @wednesday.each do |x| %>  
                <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
                  <span class="bold"><%= x.name %></span><br />
                  <%= x.start_time %> - <%= x.end_time %><br />
                  <%= x.description %><br />
                  <%= x.type %><br>
                </li></a>
              <% end %>
            </ul>
          </div>

          <div class="col-md-3">
            <h3>Thursday</h3>
            <ul>
              <% @thursday.each do |x| %>  
                <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
                  <span class="bold"><%= x.name %></span><br />
                  <%= x.start_time %> - <%= x.end_time %><br />
                  <%= x.description %><br />
                  <%= x.type %><br />                            
                </li></a>
              <% end %>
            </ul>
          </div>
        </div> 

        <div class="emp_space-2 col-md-12">
        </div>

        <div class="col-md-4">
          <h3>Friday</h3>
          <ul>
            <% @friday.each do |x| %>  
              <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
                <span class="bold"><%= x.name %></span><br />
                <%= x.start_time %> - <%= x.end_time %><br>
                <%= x.description %><br />
                <%= x.type %><br>              
              </li></a>
            <% end %>
          </ul>
        </div>
        
        <div class="col-md-4">
          <h3>Saturday</h3>
          <ul>
            <% @saturday.each do |x| %>  
              <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
                <span class="bold"><%= x.name %></span><br />
                <%= x.start_time %> - <%= x.end_time %><br>
                <%= x.description %><br />
                <%= x.type %>
              </li></a>
            <% end %>
          </ul>
        </div>
         

        <div class="col-md-4">
          <h3>Sunday</h3>
          <ul>
            <% @sunday.each do |x| %>  
              <a href="/schedules/<%=@schedule.id%>/tasks/<%=x.id%>/edit"><li class="emp_space-2">
                <span class="bold"><%= x.name %></span><br />
                <%= x.start_time %> - <%= x.end_time %><br />
                <%= x.description %><br />
                <%= x.type %>             
              </li></a>
            <% end %>
          </ul>
        </div>
      </div> 
      </div>

      <form action="/schedules/<%=@schedule.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>  
    </div>  
    </div>  
   </div> 
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
