<!DOCTYPE html>
<html>
<head>
  <title>XTask</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  
      <div class="container">
        <h1>XTask</h1>
        <div >
          <ul>
            <% @tasks.each do |t| %>
              <li>
                <%= t.name %> <br />
                <%= t.description %> <br>
                <%= t.type %> <br> 
              </li>
            <% end %>
              <% if !@monday.empty? %>
                <% @monday.each do |x| %>
                  <li>
                    <%= x.name %>
                  </li>  
                <% end %> 
              <% end %>

              <% if !@tuesday.empty? %>
              <% @tuesday.each do |x| %>
                <li>
                  <%= x.name %>
                </li>  
              <% end %> 
              <% end %> 

              <% if !@wednesday.empty? %>
              <% @wednesday.each do |x| %>
                <li>
                  <%= x.name %>
                </li>  
              <% end %> 
              <% end %>

              <% if !@thursday.empty? %>
              <% @thursday.each do |x| %>
                <li>
                  <%= x.name %>
                </li>  
              <% end %> 
              <% end %>

              <% if !@friday.empty? %>
              <% @friday.each do |x| %>
                <li>
                  <%= x.name %>
                </li>  
              <% end %> 
              <% end %>

              <% if !@saturday.empty? %>
              <% @saturday.each do |x| %>
                <li>
                  <%= x.name %>
                </li>  
              <% end %> 
              <% end %>

              <% if !@sunday.empty? %>
              <% @sunday.each do |x| %>
                <li>
                  <%= x.name %>
                </li>  
              <% end %> 
              <% end %>
            
          </ul>
          <ul>
            
              <li>
                <%= @schedule.name %>
                <%= @schedule.username %>
              </li>
            
          </ul>
        </div>
      </div>
  

    
    <!-- </div> /container -->

</body>
</html>
