<!DOCTYPE html>
<html>
<head>
  <title>XTask</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  
  <div class="container">
    <h1>XTask</h1>
    <h3><%= @schedule.name %> - Tasks</h3>
    <div>
      <ul>
        <% @tasks.each do |t| %>
          <li>
            <strong><%= t.name %></strong>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div>
      <h3>Monday</h3>
      <ul>
        <% @monday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3>Tuesday</h3>
      <ul>
        <% @tuesday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3>Wednesday</h3>
      <ul>
        <% @wednesday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3>Thursday</h3>
      <ul>
        <% @thursday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3>Friday</h3>
      <ul>
        <% @friday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3>Saturday</h3>
      <ul>
        <% @saturday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3>Sunday</h3>
      <ul>
        <% @sunday.each do |x| %>  
          <li>
            <strong><%= x.name %></strong><br />
            <%= x.description %><br />
            <%= x.type %><br />
            <%= x.start_time %><br />
            <%= x.end_time %><br />
          </li>
        <% end %>
      </ul>
    </div>

  </div>
  

    
    <!-- </div> /container -->

</body>
</html>
